BOT_TOKEN=8800496353:AAHBfs-sORu7Istn59RBtM9722YkxfiNlPc
MONGO_URI=mongodb+srv://Ownerbackk:shaikh1234@cluster0.ox5boql.mongodb.net/?appName=Cluster0
OWNER_USERNAME=Ownerbackk
SUPPORT_URL=https://t.me/Ownerbackk
CHANNEL_URL=https://t.me/REDFLAGSGCS
START_IMG=https://graph.org/file/d3a2c17942e606f4ec811-9c0373fa8bb10f4448.jpg
DB_NAME=zoya_bot
WARN_LIMIT=3
OWNER_ID=8373739674
QUOTE_API=http://127.0.0.1:3000/generate
QUOTE_BG=#1b1429


